/* Reset */
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.body {
    font-family: Arial, sans-serif;
}
.logo {
    width: 150px;
    height: auto;
    margin-left: 20px;
}

header {
    background-color: rgb(238, 120, 24);
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin-right: 20;
}

nav a {
    text-decoration: none;
    color: white;
}

.btn-order {
    background-color: rgb(8, 72, 248);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Hero Section */
#hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: rgb(250, 178, 90);
}

.hero image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border: 10px;
}

.hero-content {
    max-width: 600px;
}

.hero-content {
    font-size: 2.5rem;
}

.btn-primary {
    background-color: rgb(8, 72, 248);
    color: white;
    display: inline-block;
    margin-top: 10px;
}

/* Product Section */
#product h2 {
    padding: 40 0 0 40;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0;
}

.product {
    text-align: center;
    max-width: 300px;
    margin: 20px;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Testimonial Section */
#testimonials {
    background-color: rgb(250, 178, 90);
    padding: 40px;
    text-align: center;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.testimonial {
    margin: 20px;
    max-width: 300px;
}

.testimonials {
    width: 100px;
    height: auto;
    border-radius: 50%;
}





